
        .header-banner {
            background-color: #ffffff; 
            color: #000; 
            text-align: center;
            padding: 10px;
            font-weight: bold;
            font-size: 14px;
        }


        .hover-zoom {
            transition: transform 0.3s ease-in-out;
          }
          
          .hover-zoom:hover {
            transform: scale(1.1);
          }

.product-form-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-card{
  margin: auto;
}

.order-confirmation-text{
  text-align: center;
  margin-top: 5em;
}