.header-banner {
  background-color: #ffffff; 
  color: #000; 
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}


.hover-zoom {
  transition: transform 0.3s ease-in-out;
}

.hover-zoom:hover {
  transform: scale(1.1);
}
.category-image {
  width: 250px;
  height: auto;
}
.product-form-container{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.order-card{
margin: auto;
}

.order-confirmation-text{
text-align: center;
margin-top: 5em;
}


.modal-content {
position: relative;
margin: auto;
width: 90%;
max-width: 600px;
background-color: #fff;
border: none;
border-radius: 8px;
padding: 20px;
box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); 
}


.modal {
width: 100%;
max-width: 600px;
background-color: rgba(255, 255, 255, 0.95);
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
text-align: center;
padding: 20px;
border-radius: 8px;
}
.close {
position: absolute;
top: 10px;
right: 20px;
font-size: 28px;
font-weight: bold;
color: #333;
cursor: pointer;
z-index: 1001; 
}

.close:hover {
color: #000;
}

.modal-overlay {
display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
z-index: 1000;
}

.card.order-card {
border: none;
box-shadow: none;
}

.footer {
  background-color: rgba(0, 0, 0, 0.2)
}

